<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.strendin.android.MSPwdGen"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="auto">

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Mark's Password Generator" android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity
            android:name=".MSPwdGenActivity"
            android:label="Mark's Password Generator" 
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SaltDialog"
            android:label="Mark's Password Generator" 
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="ca.strendin.android.MSPwdGen.SALTDIALOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>